#konten1{
    /* height: 100vh; */
    background: url(img/bg-img/welcome-bg.png);
}
.navbar-toggler{
    background-color: rgb(110, 109, 109);
}
.nav-link{
    color: #fff!important;
    font-weight: bold;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dropdown-item{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
#isi .carousel{
    margin-top: 150px;
}
#konten2{
    /* height: 700px; */
    /* width: 100%; */
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#konten2 .card{
    border: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
} 

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 25px;
  color:#3f2a75;
  font-weight: bold;
}

.carousel-control-prev-icon:after {
  content: '<';  
  font-size: 25px;
  color:#3f2a75;
  font-weight: bold;
}
.btnDiscovery{
    background-color:#3f2a75;
}
#konten3{
    /* height: 90vh; */
}
#konten_progres{
    background-color:#280a3d;
    /* height: 100vh; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#konten4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#konten4 .card{
    border: none;
}
#konten5{
    background-color: transparent;
}
#konten5 .nav_link{
    color: black;
}
#konten6{
    background: url();
}