#konten1{
    background:url(img/bg-img/welcome-bg.png);
    height: 100vh;
}
.navbar-toggler{
    background-color: rgb(110, 109, 109);
}
.nav-link{
    color: #fff!important;
    font-weight: bold;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.dropdown-item{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}